/* Website Font Family */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@500&family=Work+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@500&family=Work+Sans&display=swap");

/* Common Styles */
body {
  margin-left: 120px;
  margin-right: 120px;
}

/* Navigation Bar Styles */

.nav-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #3a3a3a;
  font-size: 24px;
  font-weight: 700;
  /* margin-left: 120px; */
}

.menu-items {
  /* margin-right: 120px; */
}

.menu-items a {
  text-decoration: none;
  color: #3a3a3a;
  font-size: 16px;
  font-weight: 600;
  margin-left: 34px;
}

.menu-items i {
  margin-left: 34px;
}

/* Website Body Part */

.body-main {
  display: flex;
}
.body-text {
  color: #3a3a3a;
  font-size: 52px;
  font-weight: 700;
}
.body-text p {
  color: #3a3a3a;
  font-size: 16px;
  font-weight: 600;
}
.body-text button {
  background-color: #e02c6d;
  border-radius: 41px;
  padding: 10px 24px;
  gap: 8px;
  border: 0px;
  color: #fff;
  font-size: 16px;
}
.body-img {
  margin-top: 50px;
}
.bg-img {
  position: absolute;
  right: 100px;
}
.main-img {
  position: absolute;
  right: 100px;
}

/* Body Sponsor Styles */
.body-sponsor-com {
  margin-top: 300px;
}
hr {
  width: 1110px;
  height: 1px;
  fill: linear-gradient(
    90deg,
    rgba(192, 204, 218, 0.1) 0%,
    rgba(192, 204, 218, 0.6) 50.38%,
    rgba(192, 204, 218, 0.1) 100%
  );
}
.sponsor-image {
  display: flex;
  gap: 60.42px;
  justify-content: center;
}

/* popular Section Styles */
.items-title {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 30px;
  color: #3a3a3a;
  font-size: 28px;
}
.popular {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 30px;
  justify-items: center;
  margin-left: 177px;
  margin-right: 177px;
}
.popular-item {
  width: 329px;
  height: 476px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
  padding: 17px 14px;
}
.popular-item h2 {
  color: var(--Text-Gray-900, #18191f);
  font-size: 28px;
  font-weight: 500;
}
.popular-item h3 {
  olor: var(--Dark-Color, rgba(0, 0, 0, 0.87));
  font-size: 24px;
  font-weight: 400;
}
.fa-solid.fa-star {
  color: #fb8200;
  width: 11.068px;
  height: 10.316px;
  margin-left: 5px;
}
.fa-regular.fa-star {
  margin-left: 5px;
}
.see-more {
  position: absolute;
  margin-top: 50px;
  right: 450px;
  text-decoration: none;
  height: 24px;
  color: rgba(224, 44, 109, 0.87);
  font-size: 16px;
  font-weight: 700;
}

/* Product Summary Styles */
.product-summary {
  display: flex;
  margin-top: 300px;
  align-items: center;
  justify-content: space-between;
}
.product-summary img {
  margin-left: 165px;
}
.summary {
  margin-right: 165px;
}

/* Footer Styles */
.footer {
  background-color: #0a0826;
  width: 100%;
  height: 239px;
}

/* Media Quires Styles */

@media screen and (max-width: 576px) {
  /* Common Styles */
  body {
    margin-left: 0px;
    margin-right: 0px;
    padding: 30px;
  }
  hr {
    width: 400px;
    margin-right: 15px;
  }
  /* Navigation Bar Styles */
  .nav-title {
    display: flex;
    justify-content: center;
  }
  .logo {
    margin-left: 0px;
  }
  .menu-items {
    margin-right: 10px;
    display: none;
  }

  /* Body Main Part */
  .body-main {
    flex-direction: column;
    align-items: center;
  }
  .body-img {
    padding: 50px;
  }
  .main-img {
    position: absolute;
    right: 1px;
  }
  .bg-img {
    position: absolute;
    left: 0px;
  }

  /* Body Sponsor Part */
  .sponsor-image {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  /* Body Items List Styles */
  .popular {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    margin-left: 10px;
    margin-right: 0px;
  }
 

  /* Product Summary */
  .product-summary{
    display: flex;
    flex-direction: column;
  }
}
