/* Website Font Family */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@500&family=Work+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@500&family=Work+Sans&display=swap");

/* Navigation BAR Styles */

.nav-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #3a3a3a;
  font-size: 24px;
  font-weight: 700;
  margin-left: 120px;
}

.menu-items {
  margin-right: 120px;
}

.menu-items a {
  text-decoration: none;
  color: #3a3a3a;
  font-size: 16px;
  font-weight: 600;
  margin-left: 34px;
}

.menu-items i {
  margin-left: 34px;
}

@media screen and (max-width: 576px) {
  .nav-title {
    display: flex;
    justify-content: center;
  }
  .logo {
    margin-left: 0px;
  }
  .menu-items {
    margin-right: 10px;
    display: none;
  }
}
